[TerminalMenus.Other]

# Setting type: String
# Default value: >MOONS\nTo see the list of moons the autopilot can route to.\n\n>STORE\nTo see the company store\'s selection of useful items.\n\n>BESTIARY\nTo see the list of wildlife on record.\n\n>STORAGE\nTo access objects placed into storage.\n\n>OTHER\nTo see the list of other commands\n\n[numberOfItemsOnRoute]\n
Help = >MOONS\nNähdäksesi listan kuista, joille autopilotin reitin voi määrittää.\n\n>STORE\nNähdäksesi yhtiön kaupan hyödyllisten tavaroiden valikoiman.\n\n>BESTIARY\nNähdäksesi listan kirjatuista villieläimistä.\n\n>STORAGE\nPäästäksesi käsiksi varastoon laitettuihin esineisiin.\n\n>OTHER\nNähdäksesi listan muista komennoista.\n\n[numberOfItemsOnRoute]\n

# Setting type: Stringd
# Default value: Welcome to the Company store. \nUse words BUY and INFO on any item. \nOrder tools in bulk by typing a number.\n____________________________\n\n[buyableItemsList]\n\nSHIP UPGRADES:\n* Loud horn    //    Price: $150\n* Teleporter    //    Price: $375\n* Inverse Teleporter    //    Price: $425\n\nThe selection of ship decor rotates per-quota. Be sure to check back next week:\n------------------------------\n[unlockablesSelectionList]\n\n
Store = Tervetuloa Yhtiön kauppaan. \nKäytä sanoja \"BUY\" ja \"INFO\" mihin tahansa esineeseen. \nTilaa työkaluja bulkkitavarana syöttämällä luku.\n____________________________\n\n[buyableItemsList]\n\nALUKSEN PÄIVITYKSET:\n* Loud horn  //  $150\n* Teleporter  //  $375\n* Inverse Teleporter  //  $425\n\nAluksen sisustusvalikoima vaihtuu kiintiöittäin. Muista tarkistaa valikoima taas ensi viikolla.\n------------------------------\n[unlockablesSelectionList]\n\n

# Setting type: String
# Default value: BESTIARY\n\nTo access a creature file, type \"INFO\" after its name.\n---------------------------------\n\n[currentScannedEnemiesList]\n\n\n
Bestiary = BESTIAARI\n\nAvataksesi olentotiedoston, kirjoita \"INFO\" sen nimen jälkeen.\n---------------------------------\n\n[currentScannedEnemiesList]\n\n\n

# Setting type: String
# Default value: Reset credits to 200. 
CheatResetCredits = Palautettu krediittien määrä 200:aan.\n\n

# Setting type: String
# Default value: Welcome to the exomoons catalogue.\nTo route the autopilot to a moon, use the word ROUTE.\nTo learn about any moon, use the word INFO.\n____________________________\n\n* The Company building   //   Buying at [companyBuyingPercent].\n\n* Experimentation [planetTime]\n* Assurance [planetTime]\n* Vow [planetTime]\n\n* Offense [planetTime]\n* March [planetTime]\n\n* Rend [planetTime]\n* Dine [planetTime]\n* Titan [planetTime]\n\n
Moons = Tervetuloa eksokuiden katalogiin.\nMäärittääksesi autopilotin reitin kuulle, käytä sanaa \"ROUTE\".\nSaadaksesi lisätietoa mistä tahansa kuusta, käytä sanaa \"INFO\".\n____________________________\n\n* The Company building   //   Ostaa [companyBuyingPercent] hintaan.\n\n* Experimentation [planetTime]\n* Assurance [planetTime]\n* Vow [planetTime]\n\n* Offense [planetTime]\n* March [planetTime]\n\n* Rend [planetTime]\n* Dine [planetTime]\n* Titan [planetTime]\n\n

# Setting type: String
# Default value: This selection rotates per-quota. Be sure to check back next week!\n____________________________\n\n[unlockablesSelectionList]\n
Suits = Tämä valikoima vaihtuu kiintiöittäin. Muista tarkistaa valikoima taas ensi viikolla!\n____________________________\n\n[unlockablesSelectionList]\n

# Setting type: String
# Default value: To order any item, use the word BUY.\n____________________________\n\n* Teleporter      //    Price: $400\n\n\n\n\n\n
Upgrades = Tilataksesi minkä tahansa esineen, käytä sanaa \"BUY\".\n____________________________\n\n* Teleportti      //    Hinta: $400\n\n\n\n\n\n

# Setting type: String
# Default value: SIGURD\'S LOG ENTRIES\n\nTo read a log, use keyword \"VIEW\" before its name.\n---------------------------------\n\n[currentUnlockedLogsList]\n\n\n
Sigurd = SIGURDIN LOKIKIRJAUKSET\n\nLukeaksesi lokin, käytä avainsanaa \"VIEW\" ennen sen nimeä.\n---------------------------------\n\n[currentUnlockedLogsList]\n\n\n

# Setting type: String
# Default value: While moving furniture with [B], you can press [X] to send it to storage. You can call it back from storage here.\n\nThese are the items in storage:\n\n[storedUnlockablesList]\n
Storage = Siirtäessäsi huonekalua painikkeella [B], voit painaa painiketta [X] lähettääksesi sen varastoon. Voit kutsua sen takaisin varastosta täällä.\n\nNämä esineet ovat varastossa:\n\n[storedUnlockablesList]\n

# Setting type: String
# Default value: Other commands:\n\n>VIEW MONITOR\nTo toggle on AND off the main monitor\'s map cam\n\n>SWITCH [Player name]\nTo switch view to a player on the main monitor\n\n>PING [Radar booster name]\nTo make a radar booster play a noise.\n\n>SCAN\nTo scan for the number of items left on the current planet.\n\n\n
Other = Muut komennot:\n\n>VIEW MONITOR\nKytkeäksesi päämonitorin karttakameran päälle JA pois päältä.\n\n>SWITCH [Pelaajan nimi]\nVaihtaaksesi pelaajanäkymää päämonitorissa.\n\n>PING [Tutkakiihdyttimen nimi]\nLaittaaksesi tutkakiihdyttimen toistamaan ääntä.\n\n>SCAN\nSkannataksesi nykyisellä planeetalla olevien esineiden lukumäärän.\n\n\n

# Setting type: String
# Default value: [scanForItems]\n
Scan = [scanForItems]\n

# Setting type: String
# Default value: Switching player view\n
Switch = Vaihdetaan pelaajanäkymä.\n
